/* Input fields */
.div-input {
    position: relative;
    top: 25px;
    left: 5%;
    width: 90%;
}

#input-create-path1 {
    display: inline;
    font-size: 0.88em;
    bottom: 5px;
    width: 85%;
}

#input-create-path2 {
    display: inline;
    font-size: 0.88em;
    bottom: 5px;
    width: 85%;
}

#button-load-browse1 {
    position: relative;
    display: inline;
    bottom: 5px;
    left: 15px;
}

#button-load-browse2 {
    position: relative;
    display: inline;
    bottom: 5px;
    left: 15px;
}

#button-load-load {
    position: relative;
    right: 10%;
}

#button-load-cancel {
    position: relative;
    left: 10%;
}
